/*******************************************
 * For displaying a calendar on a web page.
 *******************************************/
/* -----------------------
Special fonts
------------------------*/
@font-face{
    font-family: "Pacifico";
    src: url('ttfonts/Pacifico/Pacifico-Regular.ttf');
}
@font-face{
	font-family: "JosefinSans-Bold";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Bold.ttf');
}
@font-face{
	font-family: "JosefinSans-BoldItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-BoldItalic.ttf');
}
@font-face{
	font-family: "JosefinSans-Italic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Italic.ttf');
}
@font-face{
	font-family: "JosefinSans-Light";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Light.ttf');
}
@font-face{
	font-family: "JosefinSans-LightItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-LightItalic.ttf');
}
@font-face{
	font-family: "JosefinSans-Regular";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Regular.ttf');
}
@font-face{
	font-family: "JosefinSans-SemiBold";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
}
@font-face{
	font-family: "JosefinSans-SemiBoldItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-SemiBoldItalic.ttf');
}
@font-face{
	font-family: "JosefinSans-Thin";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-Thin.ttf');
}
@font-face{
	font-family: "JosefinSans-ThinItalic";	
	src: url('ttfonts/Josefin_Sans/JosefinSans-ThinItalic.ttf');
}
@font-face{	
	font-family: "Metamorphous";	
	src: url('ttfonts/Metamorphous/Metamorphous-Regular.ttf');
}

.calendarTable {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	border-collapse: collapse;
}

.calendarTitle {
	margin: auto;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	font-size: 40px;
	font-family: JosefinSans-BoldItalic;
}

.calendarTitle td {
	padding-right: .5em;
	padding-left: .5em;
}

.calendarTable td {
	width: 10%;
	position: relative;
}

.calendarTable td:after {
	content: '';
	display: block;
	margin-top: 100%;
}

td .calendarContent {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px solid black;
}

.today {
	background: #ffcecc;
}

.thisMonth {
	background: #ffffff;
}

.otherMonth {
	background: #e6e6e6;
}