@CHARSET "ISO-8859-1";
/*---------------------------
 | This is for pageinating lists
 ---------------------------*/
 
.paging {
	background: var(--shadow-color);
	width: 100%;
	text-align: center;
	padding: 0 .75em;
	font-size: 10px
}

.paging li
{
	
	display: inline;
}
 